<div class="top-body-is-number">
  <div class="select-IP">

    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption5" (change)="onOptionClick($event)">
      <option selected value="MaxLengthValidationComponent" [disabled]="option2Disabled">Maximum character count</option>
      <option value="MinLengthValidationComponent" [disabled]="option2Disabled">Minimum character count</option>
      <option value="BetweenLengthValidationComponent" [disabled]="option2Disabled">Between</option>

    </select>
    <div class="validations2">
      <ng-container *ngIf="selectedOption5 === 'MaxLengthValidationComponent'">

        <app-max-length-validation ></app-max-length-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption5 === 'MinLengthValidationComponent'">

        <app-min-length-validation ></app-min-length-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption5 === 'BetweenLengthValidationComponent'">

        <app-between-length-validation ></app-between-length-validation>
      </ng-container>
      </div>

  </div>


</div>



