<div class="top-body-is-text">
  <div class="select-IP">

    <select class="form-select" aria-label="Default select example" >
      <option selected value="ValidationsComponent">Email</option>
      <option value="ValidationLongComponent">URL</option>
      <option value="ValidationRadioComponent">Contains</option>
      <option value="ValidationCheckComponent">Doesn't contain</option>

    </select>


  </div>



      <input class="form-control" type="text" placeholder="Error Text" aria-label="default input example">



</div>


