
<div class="validations">
  <h4>Validations</h4>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
   <h6>Required field</h6>
  </label>
</div>

  <div class="top-body">
    <div class="select-IP">

      <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption2">
        <option selected value="NumberValidationComponent">Number</option>
        <option value="TextValidationComponent">Text</option>
        <option value="LengthValidationComponent">Length</option>
      </select>
    <div class="validations2">
      <ng-container *ngIf="selectedOption2 === 'NumberValidationComponent'">

        <app-number-validation ></app-number-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption2 === 'TextValidationComponent'">

        <app-text-validation ></app-text-validation>
      </ng-container>

      <ng-container *ngIf="selectedOption2 === 'LengthValidationComponent'">

        <app-length-validation ></app-length-validation>
      </ng-container>
    </div>

    </div>

  </div>



<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" >
  <label class="form-check-label" >
    <h6>Apply field to all the agent types</h6>
  </label>
</div>
</div>



