
<div class="validations">
  <h4>Validations</h4>
<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
  <label class="form-check-label" >
   <h6>Required field</h6>
  </label>
</div>

  <div class="alert alert-dark" role="alert">
    <h6>String values are accepted by default</h6>

   <p >The “Short Answer” type will accept letters, numbers and special characters by default. You can restrict/allow data
     types as your preference via applying validations</p>
  </div>

  <div class="container">
    <div *ngFor="let field of fields" class="field"  id="controlsBody" style="display:flex; ">
      <app-validation-body></app-validation-body>

      <span class="remove-btn" (click)="removeField(field)" style="margin-left:50px;">x</span>
    </div>
       <a (click)="addField()" style="color: blue"> + <u>ADD ANOTHER VALIDATION</u></a>
  </div>



<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" >
  <label class="form-check-label" >
    <h6>Apply field to all the agent types</h6>
  </label>
</div>
</div>



