<div class="top-body-is-number">
  <div class="select-IP">

    <select class="form-select" aria-label="Default select example" [(ngModel)]="selectedOption4">
      <option selected value="IsNumberValidationComponent">Is number</option>
      <option value="WholeNumberValidationComponent">Whole number</option>
      <option value="WithTwoDecimalsValidationComponent">With two decimals</option>
      <option value="GreaterThanValidationComponent">Greater than</option>
      <option value="GreaterOrEqualValidationComponent">Greater than or equal to</option>
      <option value="LessThanValidationComponent">Less than</option>
      <option value="LessThanEqualValidationComponent">Less than or equal to</option>
      <option value="EqualToValidationComponent">Equal to</option>
      <option value="NotEqualToValidationComponent">Not equal to</option>
      <option value="BetweenValidationComponent">Between</option>
      <option value="NotBetweenValidationComponent">Not between</option>
      <option value="NotBetweenValidationComponent">Has a Prefix</option>
    </select>
    <div class="validations2">
      <ng-container *ngIf="selectedOption4 === 'IsNumberValidationComponent'">

        <app-is-number-validation ></app-is-number-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'WholeNumberValidationComponent'">

        <app-whole-number-validation ></app-whole-number-validation>
      </ng-container>

      <ng-container *ngIf="selectedOption4 === 'WithTwoDecimalsValidationComponent'">

        <app-with-two-decimals-validation ></app-with-two-decimals-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'GreaterThanValidationComponent'">

        <app-greater-than-validation ></app-greater-than-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'GreaterOrEqualValidationComponent'">

        <app-greater-or-equal-validation ></app-greater-or-equal-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'LessThanValidationComponent'">

        <app-less-than-validation ></app-less-than-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'LessThanEqualValidationComponent'">

        <app-less-than-equal-validation ></app-less-than-equal-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'EqualToValidationComponent'">

        <app-equal-to-validation> </app-equal-to-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'NotEqualToValidationComponent'">

        <app-not-equal-to-validation ></app-not-equal-to-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'BetweenValidationComponent'">

        <app-between-validation > </app-between-validation>
      </ng-container>
      <ng-container *ngIf="selectedOption4 === 'NotBetweenValidationComponent'">

        <app-not-between-validation ></app-not-between-validation>
      </ng-container>
    </div>

  </div>


</div>
