<div class="top-body-is-number">
  <div class="select-IP">

    <select class="form-select" aria-label="Default select example" >
      <option selected value="ValidationsComponent">Is number</option>
      <option value="ValidationLongComponent">Whole number</option>
      <option value="ValidationRadioComponent">With two decimals</option>
      <option value="ValidationCheckComponent">Greater than</option>
      <option value="ValidationDropdownComponent">Greater than or equal to</option>
      <option value="FileUploadComponent">Less than</option>
      <option value="ValidationDataComponent">Less than or equal to</option>
      <option value="ValidationDataComponent">Equal to</option>
      <option value="ValidationDataComponent">Not equal to</option>
      <option value="ValidationDataComponent">Between</option>
      <option value="ValidationDataComponent">Not between</option>
    </select>


  </div>
<div class="validation-num">


    <input class="form-control" type="text" placeholder="Number" aria-label="default input example">



    <input class="form-control" type="text" placeholder="Error Text" aria-label="default input example">

</div>

</div>
